* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dfdfdf;
  color: #0803D3; /* Updated color */
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  background-color: transparent;
  color: #0803D3; /* Updated color */
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #0803D3; /* Updated color */
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co2-beregner {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  max-width: 380px;
}

.input-group input[type="number"],
.input-group select,
.input-group input[type="range"] {
  width: 100%;
  max-width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 75%;
  padding: 10px;
  background-color: #0803D3; /* Updated color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #218838;
}

h1, h2, h3 {
  margin-bottom: 20px;
  color: #0803D3; /* Updated color */
}

#result, #yearlyResult {
  margin-top: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .co2-beregner {
    width: 95%;
  }
}

input[type="number"], select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 380px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="number"]:focus, select:focus {
  border-color: #28a745;
  outline: none;
}

.co2-beregner2 {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 20px;
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .co2-beregner2 {
    width: 100%;
  }
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
  color:#0803D3;
}

a {
  text-decoration: none;
  color: #0803D3; /* Updated color */
}

.kilde {
  color: #0803D3; /* Updated color */
  text-decoration: underline;
}

.results {
  display: flex;
  justify-content: space-between;
}

.result-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  border: 1px solid #ccc;
  margin: 30px;
  display: none; /* Skjul som standard */
}

@media only screen and (max-width: 768px) {
  .results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.highlight-box {
  border: 2px solid #28a745;
  background-color: rgba(40, 167, 69, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.feedback-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
}
.feedback-box input, .feedback-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.feedback-box button {
  padding: 10px;
  background-color: #0803D3; /* Updated color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.feedback-box button:hover {
  background-color: #218838;
}

.complexity-buttons {
  display: flex; /* Brug flexbox til at arrangere knapperne i en række */
  gap: 15px; /* Tilføj afstand mellem knapperne */
  margin-top: 10px; /* Tilføj lidt afstand over knapperne */
}

.complexity-button {
  padding: 10px 40px;
  border: 2px solid #0803D3; /* Sort border */
  background-color: transparent; /* Transparent baggrund */
  color: #0803D3; /* Sort tekstfarve */
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.complexity-button:hover {
  background-color: #f0f0f0; /* Lys grå baggrund ved hover */
  transform: scale(1.05);
}

.complexity-button.active {
  background-color: #0803D3; /* Sort baggrund for aktiv knap */
  color: #fff; /* Hvid tekstfarve for aktiv knap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#footer-title {
  color: #0803D3; /* Updated color */
  font-size: 120%;
}

.email-button {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #0803D3; /* Updated color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.email-button:hover {
  background-color: #0056b3;
}

nav ul li a {
  color: #0803D3; /* Updated color */
  text-decoration: none;
  padding: 10px 15px; /* Tilføj padding */
  border-radius: 5px; /* Afrundede hjørner */
  transition: background-color 0.3s, color 0.3s; /* Glidende overgang */
}

nav ul li a:hover {
  background-color: #0803D3; /* Baggrundsfarve ved hover */
  color: white; /* Tekstfarve ved hover */
}

nav ul li a:active {
  background-color: #0803D3; /* Sort baggrund for aktiv knap */
  color: #fff; /* Hvid tekstfarve for aktiv knap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  .info-box {
    display: block;
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Center the box and give some space around it */
    padding: 2%;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd; /* Light border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: left; /* Align text to the left inside the box */
  }

  @media (max-width: 600px) {
    .info-box {
      width: 100%;
      display: block;
    }
  }