* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dfdfdf;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  background-color: transparent;
  color: black;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co2-beregner {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  max-width: 380px;
}

.input-group input[type="number"],
.input-group select,
.input-group input[type="range"] {
  width: 100%;
  max-width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 75%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #218838;
}

h1, h2, h3 {
  margin-bottom: 20px;
  color: #333; /* Rettet farven til en gyldig hex værdi */
}

#result, #yearlyResult {
  margin-top: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .co2-beregner {
    width: 95%;
  }
}

input[type="number"], select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 380px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="number"]:focus, select:focus {
  border-color: #28a745;
  outline: none;
}

.co2-beregner2 {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 20px;
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .co2-beregner2 {
    width: 100%;
  }
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
  color:#007BFF;
}

a {
  text-decoration: none;
  color: black;
}

.kilde {
  color: blue;
  text-decoration: underline;
}

.results {
  display: flex;
  justify-content: space-between;
}

.result-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  border: 1px solid #ccc;
  margin: 30px;
  display: none; /* Skjul som standard */
}

@media only screen and (max-width: 768px) {
  .results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.highlight-box {
  border: 2px solid #28a745;
  background-color: rgba(40, 167, 69, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.feedback-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
}
.feedback-box input, .feedback-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.feedback-box button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.feedback-box button:hover {
  background-color: #218838;
}

.complexity-buttons {
  display: flex; /* Brug flexbox til at arrangere knapperne i en række */
  gap: 15px; /* Tilføj afstand mellem knapperne */
  margin-top: 10px; /* Tilføj lidt afstand over knapperne */
}

.complexity-button {
  padding: 10px 40px; /* Juster padding for at gøre knapperne større */
  border: none;
  background-color: #007BFF; /* Primær farve */
  color: white; /* Tekstfarve */
  cursor: pointer;
  border-radius: 5px; /* Rundede hjørner */
  font-size: 16px; /* Størrelse på teksten */
  transition: background-color 0.3s, transform 0.2s; /* Tilføj overgangseffekter */
}

.complexity-button:hover {
  background-color: #0056b3; /* Mørkere blå ved hover */
  transform: scale(1.05); /* Let forstørrelse ved hover */
}

.complexity-button.active {
  background-color: #0056b3; /* Mørkere blå for den aktive knap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tilføj skygge til den aktive knap */
}
